* { 
  font-family: 'Open Sans', sans-serif; 
}
body {
  margin: 0;
}

header {
  background-color: #e5f3f2;
  height: 300px;
}

h1, 
h2,
h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #6d6e71;
}

h1 {
  margin: 0;
  text-align: center;
  padding: 30px 0;
  font-size: 44px;
}

span {
  font-family: 'Roboto Slab', serif;
  color: #00a79d;
}

input,
textarea {
  font-size: 22px;
  display: block;
  margin: 0 auto 15px auto;
  border: 2px solid #d1d8d9;
  width: 560px;
  padding-left: 5px;
  overflow: ellipsis;
  height: 34px;
}

textarea {
  resize: none;
  height: 32px;
}

hr {
    border-color: #d1d3d4;
    border-top: none;
    border-left: none;
}

h2 {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

h3 {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 20px
}

input::placeholder,
textarea::placeholder {
  color: #c5c6c8;
}

div {
  line-height: 1px;
}

section {
  max-height: 100vh;
  overflow: scroll;
}

.save-button:disabled {
  background-color: #d1d8d9;
}
.save-button:hover:disabled {
  background-color: #d1d8d9;
}
.save-button {
  background-color: #00a79d;
  color: white;
  width: 570px; 
  font-size: 22px;
  margin: 0 auto;
  display: block;
  padding-bottom: 5px;  
}

.search-ideas-input {
  margin-top: 29px;
  margin-bottom: 40px;
}
.delete-button,
.upvote-button,
.downvote-button {
  height: 30px;
  width: 30px;
  border: none;
}

.delete-button {
  background: url("delete.svg") no-repeat;
  float: right

}
.idea {
  width: 570px;
  margin: 20px auto;

}
.quality {
  display: inline-block;
  vertical-align: middle; 
  margin-top: 0;
  font-size: 19px;
  color: #6d6e71;
}

.body-text {
  color: #939598;
  vertical-align: middle;
  overflow: scroll;
}

.upvote-button {
  background: url("upvote.svg") no-repeat;
  margin-right: 15px;
}

.downvote-button {
  background: url("downvote.svg") no-repeat;
  margin-right: 15px;
}

.delete-button:hover {
  background: url("delete-hover.svg");
  transition: 1s;
}

.upvote-button:hover {
  background: url("upvote-hover.svg");
  transition: 1s;
}

.downvote-button:hover {
  background: url("downvote-hover.svg");
  transition: 1s;
}

.save-button:hover {
  background-color: #045e55;
  transition: 1s;
}

@media (max-width: 740px) {
  input,
  textarea,
  .idea {
    width: 74%;
  }
  .save-button {
    width: 78%;
  }
}
@media (max-width: 450px) {
  header {
    height: 280px;
  }
  
  h1 { 
    font-size: 33px;
    padding: 15px 0;
  }

  h2 {
    width: 80%;
  }

  .input-body {
    height: 75px;
  }
  
  .search-ideas-input {
    margin-top: 15px;
  }
}